.batman {
    background-color: #E6E6E6;
}

.titulo {
    background-color: #C4C4C4;
    color: #005677;
    text-align: center; 
}

.subtitulo {
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman';
}

footer {
    background-color: #005677;
    color: #ffffff;
    text-align: center;
}


